
<mat-toolbar class="mat-elevation-z10" color="primary">
  <mat-toolbar-row>
    <img class="header-logo mat-elevation-z12" src="assets/images/mTDuLbg2.png"> <span><strong>WEB</strong>odoro Timer</span>
      <!-- <i class="material-icons" style="padding-right: 5px;">alarm</i>  -->
  </mat-toolbar-row>
</mat-toolbar>
<br><br>
<section class="content">
    <div class="progress-wrapper" *ngIf="maxVal">
      <div style="font-size:5em;" class="timer text mat-elevation-z12" *ngIf="!isFinished">
        {{ minutes }} : {{ seconds }}
      </div>
      <div style="font-size:5em;" class="timer text mat-elevation-z12" *ngIf="isFinished">
        Done!
        <audio src="assets/hand-bell.mp3" autoplay></audio>
      </div>
    </div>
    <br>
    <div class="button-group" layout="row">
      <button mat-raised-button color="primary" class="button" *ngIf="currentVal <= 0" (click)="start()">Start</button>
      <button mat-raised-button color="accent" class="button" *ngIf="!isFinished" (click)="finish()">Finish</button>
      <button mat-raised-button color="warn" class="button" (click)="reset()">Reset</button>
    </div>
<br>
  <mat-form-field>
    <input matInput [(ngModel)]="pomodoro_max" placeholder="Pomodoro Duration"/>    
  </mat-form-field> 
  <mat-checkbox [(ngModel)]="pomodoro_progress[0]" checked="'{{pomodoro_progress[0]}}"></mat-checkbox>&nbsp;
  <mat-checkbox [(ngModel)]="pomodoro_progress[1]" checked="{{pomodoro_progress[1]}}"></mat-checkbox>&nbsp;
  <mat-checkbox [(ngModel)]="pomodoro_progress[2]" checked="{{pomodoro_progress[2]}}"></mat-checkbox>&nbsp;
  <mat-checkbox [(ngModel)]="pomodoro_progress[3]" checked="{{pomodoro_progress[3]}}" color="primary"></mat-checkbox>
  {{pomodoro_progress}}
  <mat-form-field>
      <input matInput [(ngModel)]="break_max" placeholder="Break Duration"/>
  </mat-form-field>
</section>
